*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #E0E4E4;
    font-family: 'Poppins', sans-serif;
}

.nav2 li{
    display: inline;
}
.nav1 div,.nav2 div{
    display: inline-block;
}
.nav1 img{
    width:8%;
    margin-left: 5%;
}
.nav1{
    background-color: black;
    color: white;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    padding-top: .5vh;
    font-size: 15px;
}

.nav1 div{
    /* padding-top: %; */
    /* padding-right: 5%; */
}
.delivery{
    padding:0 3% ;
}

.search_bar input
{
    padding: 7.5px;
    /* width:500px; */
    width: 550px;
}
.search_bar button{
    padding:7.5px 10px ;
    position: relative;
}
.btn_1{
    left:7px;
}
.btn_2{
    right: 8px;
    background-color: #FDB460;
    border: 1.9px solid #FDB460 ;
    border-radius: 4px;
}
.sign_in{
    padding:0 4%;
}
.cart{
    padding-left: 4%;
    
}
.nav2{
    background-color: #202935;
    color: white;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    height: 5vh;
    font-weight: 500;
}
.option_icon{
    margin-left: 5%;
    margin-right: 6%;
}
.nav2_menu li{
    margin-right: 3%;
}
.nav2_menu{
    flex-grow: 2;
}
.shop_deals_electronics{
    margin-right: 5%;
}

.hero{
    background-image: url("images/hero_image.jpg");
    height: 45vh;
    width: 98.887vw;
    background-size: cover;
    margin-bottom: 5vh;
}
.hero input{
    position: relative;
    width: 70%;
    padding: 6.5px;
    left: 18%;
    top:80%;
    text-align: center;
}

.grid_part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2vw;
    /* column-gap: 2vw; */
    /* justify-content: space-evenly; */
    padding-left: 2vw;
    margin-bottom: 5vh;

}

.boxes{
    width:21vw;
    padding-left: 1vw;
    border: 1px solid #c9c9c9;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.18);
    background-color: white;
    border-radius: 3px;
}
.boxes:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}
.boxes img{
    width:20vw;
    height: 32vh;
    border-radius: 3px;

}
.boxes h1{
    margin: 5% 0;
    font-size: 21px;
}
.boxes p{
    padding: 5% 0 7% 0;
}
.side{
    /* padding-left: 15vw; */
}


.btn_3_back{
    background-color: #313E51;
    width: 98.887vw;
    height: 7vh;
    text-align: center;
    font-size: 21px;
    color: white;
    font-weight: 600;
    /* padding-top: 30px; */
}
.btn_3_back p{
    padding-top: 2.2vh;
}
footer{
    background-color: #1F2833;
    color: white;
}
.part_1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;
    padding: 5vh 0 10vh 0;
}
.part_1 li{
    /* direction: none; */
    list-style-type: none;
    line-height: 27px;
    font-size:15.5px;
}
.part_1 h3{
    margin-bottom: 1vh;
}
.part_2 img{
    width: 8%;
}
.part_2{
    text-align: center;
    margin-top: 8px;
}